@import 'lib/project', 'lib/mixins';

main {
  counter-reset: list;
}

.numbering {
  &::after {
    color: $c-gray;
    content: '- №' counter(list) ' -';
    counter-increment: list 1;
    display: block;
    font-size: 1rem;
    font-weight: 400;
  }
}
