doctype html
html
  head
    title Sedona
    meta(charset='utf-8')
    link(type='text/css'
    href='css/styles.css'
    rel='stylesheet')
  body
    header
      h1 SEDONA
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid magni vitae quam, tenetur voluptatibus earum natus nisi fuga maxime reiciendis iusto hic omnis, maiores ducimus harum eaque saepe possimus consectetur laboriosamserunt evenien vel culpa minus.
      q.cite I did it!
